body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
     border-bottom-style:inset;
}
#num{
    height: 20px;
    width: 200px;
}
#ano{
    height: 20px;
    width: 180px
}

pre{
    text-align: center;
 
}